@media (min-width: 401px) and (max-width: 3080px){
header {
    background-image: url(bigBg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 768px;
}
.nav-button{
    visibility: hidden;
}

nav{
    position: absolute;
    top: 6.5%;
    left: 51.7%;
}

nav a {
    padding-right: 21%;
    font-family: Libre Franklin;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.header-text1 {
    font-family: Libre Franklin;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-top: 5.5%;
    margin-left: 11.5%;
}

.header-text2 {
    font-family: Libre Franklin;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 78px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-top: 10%;
    margin-left: 11.5%;
}

.header-text3 {
    font-family: Libre Franklin;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-top: 2%;
    margin-left: 11.5%;
}

.header-text4 {
    font-family: Libre Franklin;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
    margin-top: 7.5%;
    margin-left: 11.5%;
}
}